
body{
    
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    text-decoration: none;
}
.header{
    text-decoration: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items ul{
     list-style: none;
}
.nav-items ul li{
    display: inline-block;
}
.nav-items ul li a{
    color: black;
    margin-right: 20px;
}
.nav-items ul li a:hover{
    color: rgb(255, 145, 0);
}
.nav-items ul li .imp{
    background-color: rgb(47, 86, 204);
    color: white;
    border-radius: 2px;
    font-size: 15px;
    padding: 7px;
    margin: 2px 20px;
    cursor: pointer;
}
.nav-items ul li .imp:hover{
    background-color: rgb(6, 6, 103);
}
#booking-container{
    background-image: url("/images/body-book-tk-bgImage.jpg");
    padding: 50px;
    background-size: cover;
    border: 5px solid black;
    padding: 0 10px;;
}
main,.heading{
    text-align:center;
    margin: 0 auto;
    background-color: white;
    width: 70%;
    padding-bottom: 30px;
}
.properties{
    display: inline-block;
    margin: 0px;
    font-size: 25px;
    color: powderblue;
    
}
h1 {
    font-size: 50px;
    margin-bottom: 2px;
}
.btn{
    background-color: rgb(6, 6, 103);
    color: white;
    padding: 5px 35px;
    margin: 15px;
    width: 280px;
}
#classes{
    margin-top: 20px;
}
#category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}
#category select,
#category .date {
    margin: 0; 
    padding: 5px; 
}
#search{
    margin-top: 20px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(255, 145, 0);
}
#second-head{
    text-align: center;
    font-size: 40px;
}
#service-container{
    padding: 0px 340px;
}
.services li{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 20px 30px;
}
.cust-care{
    display: inline-block;
    background-color: rgb(149, 10, 10);
    color: white;
}

.footer-icons{
    background-color: violet;
    background-image: linear-gradient(270deg, #9b4b90 0, #2c215d);
    animation-name: fadeIn;
    line-height: 75px;
}
  
.fb{
 background-color: #1877F2;
 color: white;padding: 10px;
 border-radius: 50%; 
 text-decoration: none;
}
.fb:hover {
background-color: #145dbf; 
 }
.fb i {
font-size: 18px; 
}

.insta{
background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
color: white;padding: 10px;
border-radius: 50%;
text-decoration: none;
}
.insta:hover{
    background: linear-gradient(45deg, #e6683c 0%, #dc2743 50%, #bc1888 100%);
}
.insta i{
    font-size: 18px;
}

.twitter{
    background-color: #1DA1F2;
    padding: 10px; 
    border-radius: 50%;
}
.twitter:hover{
    background-color: #0d95e8;
}
.twitter i{
    width: 18px;
}

.pinterest{
    background-color: #E60023;
    color: white; 
    padding: 10px; 
    border-radius: 50%; 
    text-decoration: none;
}
.pinterest:hover{
    background-color: #bd081c;
}
.pinterest i{
    width:18px;
}

.tumblr{
    background-color: #35465C; 
    color: white; 
    padding: 10px; 
    border-radius: 50%; 
    text-decoration: none;
}
.tumblr:hover{
    background-color: #2c3e50;
}
.tumblr i{
    width:18px;
}
.footer-menu{
    display: flex;
    background-color: rgb(13, 13, 124);
    color: white;
    padding: 40px;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-menu ul li{
    list-style-type: none;
}