
body{
    background-image: url("images/Vande-Bharat-Sleeper-Coach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    text-decoration: none;
}
.header{
    text-decoration: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items ul{
     list-style: none;
}
.nav-items ul li{
    display: inline-block;
}
.nav-items ul li a{
    color: black;
    margin-right: 20px;
}
.nav-items ul li a:hover{
    color: rgb(255, 145, 0);
}
.nav-items ul li .imp{
    background-color: rgb(47, 86, 204);
    color: white;
    border-radius: 2px;
    font-size: 15px;
    padding: 7px;
    margin: 2px 20px;
    cursor: pointer;
}
.nav-items ul li .imp:hover{
    background-color: rgb(6, 6, 103);
}
main,.heading{
    text-align:center;
    margin: 0 auto;
    background-color: white;
    width: 70%;
    padding-bottom: 30px;
}
.properties{
    display: inline-block;
    margin: 0px;
    font-size: 25px;
    color: powderblue;
    
}
h1 {
    font-size: 50px;
    margin-bottom: 2px;
}
.btn{
    background-color: rgb(6, 6, 103);
    color: white;
    padding: 5px 35px;
    margin: 15px;
    width: 280px;
}
#classes{
    margin-top: 20px;
}
#category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}
#category select,
#category .date {
    margin: 0; 
    padding: 5px; 
}
#search{
    margin-top: 20px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(255, 145, 0);
}

